.banner {
  margin: auto;
  margin-top: 50px;
  width: 90%;
  /* aspect-ratio: 16/2.5; */
  border-radius: 25px;

  position: relative;
}
.img-banner {
  padding: 0;
}
.img-banner img {
  aspect-ratio: 1240/223;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  padding: 0;
  margin: 0;
}
.innerBanner {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 98%;
  padding: 0;
  border-radius: 25px;
  background-color: black;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerBanner h2 {
  color: white;
  text-align: center;
  font-size: 1.9em;
}
@media only screen and (max-width: 768px) {
  .banner {
    width: 98%;
  }
  .img-banner img {
    aspect-ratio: 335/111;
  }
  .innerBanner {
    justify-content: left;
  }
  .innerBanner h2 {
    width: 50%;
    text-align: left;
    font-size: 1.4em;
    margin-left: 10px;
  }
}
