.header {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}
.navHeader {
  width: fit-content;
}
a {
  color: red;
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.2em;
}

a.active {
  text-decoration: underline;
  color: red;
  margin-left: 30px;
  font-size: 1.2em;
}
.imgLogo {
  width: 20%;
}
